[submodule "external/ezfio"]
	path = external/ezfio
	url = https://gitlab.com/scemama/ezfio.git
[submodule "external/irpf90"]
	path = external/irpf90
	url = https://gitlab.com/scemama/irpf90.git
[submodule "external/qp2-dependencies"]
	path = external/qp2-dependencies
	url = https://github.com/QuantumPackage/qp2-dependencies.git
