config/ifort.cfg
quantum_package_static.tar.gz
build.ninja
.ninja_log
.ninja_deps
config/Makefile
config/qp_create_makefile.pickle
bin/
lib/
lib64/
libexec/
config/qp_create_ninja.pickle
src/*/.gitignore
src/*/IRPF90_temp/
src/*/*.bin
plugins/*/IRPF90_temp/
plugins/*/*.bin
ezfio_interface.irp.f
share
*.swp
