# Configuration of EZFIO package

export QP_EZFIO=${QP_ROOT}/external/ezfio


function source_if_exists() {
  if [[ -f $1 ]]; then
        cd $(dirname $1) ; source $(basename $1) ; cd -
  fi &> /dev/null
} 

source ${QP_ROOT}/etc/autocomplete.rc
source_if_exists "${QP_EZFIO}/Bash/ezfio.sh"

