# Configuration of IRPF90 package

# Set the path of IRPF90 here:
export IRPF90_PATH=${QP_ROOT}/external/irpf90
export PATH=${PATH}:${IRPF90_PATH}/bin

export IRPF90=${IRPF90_PATH}/bin/irpf90

function source_if_exists() {
  if [[ -f $1 ]]; then
        cd $(dirname $1) ; source $(basename $1) ; cd -
  fi &> /dev/null
}


source ${QP_ROOT}/etc/autocomplete.rc
source_if_exists "${IRPF90_PATH}/irpman-completions.bash"


