# Configuration of additional libraries required for modules

QP_LIB=""

# Include here the optional external libraries to link with your binaries, 
# for example :
#   export QP_LIB="$QP_LIB  -lint"

