# Configuration for the Ninja package

export NINJA=${QP_ROOT}/bin/ninja

function ninja () {
  if [[ -f ${QP_ROOT}/build.ninja ]] ; then
	${QP_ROOT}/bin/ninja "$@"
  else
	>&2 echo "Error: build.ninja does not exists.
You need to run ./configure  first."
  fi

}
