# Configuration for the Ninja package

NINJA=$(command -v ninja)

if [[ ${NINJA}.x == ".x" ]] ; then
  NINJA=${QP_ROOT}/bin/ninja
fi

export NINJA

function ninja () {
  if [[ -f ${QP_ROOT}/build.ninja ]] ; then
        ${QP_ROOT}/bin/ninja "$@"
  else
        >&2 echo "Error: build.ninja does not exists.
You need to run ./configure  first."
  fi
}
