# Configuration for the OCaml compiler

if [[ -z $OPAMROOT ]]
then
  export PATH="${QP_ROOT}/external/opampack/:$PATH"
  if [[ -f "${QP_ROOT}/external/opampack/opam" ]] ; then
    eval $("${QP_ROOT}/external/opampack/opam" env --root "${QP_ROOT}/external/opampack/opamroot" --set-root) 
  fi
fi
source ${OPAMROOT}/opam-init/init.sh > /dev/null 2> /dev/null || true


