# Configuration of all the paths to executables and libraries

QP_PYTHON=

# Load dependencies
for i in ezfio.rc irpf90.rc ocaml.rc 
do
  source $i
done


export QP_PYTHON=${QP_PYTHON}:${QP_EZFIO}/Python
export QP_PYTHON=${QP_PYTHON}:${QP_ROOT}/scripts
export QP_PYTHON=${QP_PYTHON}:${QP_ROOT}/scripts/ezfio_interface
export QP_PYTHON=${QP_PYTHON}:${QP_ROOT}/scripts/utility
export QP_PYTHON=${QP_PYTHON}:${QP_ROOT}/scripts/module
export QP_PYTHON=${QP_PYTHON}:${QP_ROOT}/scripts/compilation
export QP_PYTHON=${QP_PYTHON}:${QP_ROOT}/external/Python
export QP_PYTHON=${QP_PYTHON}:${QP_ROOT}/external/Python/resultsFile


function qp_prepend_export () {
  eval "value_1="\${$1}""
  if [[ -z $value_1 ]] ; then
      echo "${2}:"
  else
      echo "${2}:${value_1}"
  fi
}

export PYTHONPATH=$(qp_prepend_export "PYTHONPATH" "${QP_EZFIO}/Python":"${QP_PYTHON}")

export PATH=$(qp_prepend_export "PATH" "${QP_PYTHON}":"${QP_ROOT}"/bin:"${QP_ROOT}"/ocaml)

export LD_LIBRARY_PATH=$(qp_prepend_export "LD_LIBRARY_PATH" "${QP_ROOT}"/lib)


export LIBRARY_PATH=$(qp_prepend_export "LIBRARY_PATH" "${QP_ROOT}"/lib:"${QP_ROOT}"/lib64)

export C_INCLUDE_PATH=$(qp_prepend_export "C_INCLUDE_PATH" "${QP_ROOT}"/include)
export CPATH=$(qp_prepend_export "CPATH" "${QP_ROOT}"/include)


